{{ $opts := . }}
{{ $image := dict }}

{{ $src := $opts.img }}
{{ $maxWidth := $opts.width }}
{{ $maxHeight := $opts.height }}

{{ $isRemote := or (strings.HasPrefix $src "http://") (strings.HasPrefix $src "https://") }}
{{ $resource := cond $isRemote (try (resources.GetRemote $src)) (try (resources.Get $src)) }}
{{ if $resource.Value }}
    {{ $img := $resource.Value }}
    {{ $width := cond (gt $img.Width $maxWidth) $maxWidth $img.Width }}
    {{ $height := cond (gt $img.Height $maxHeight) $maxHeight $img.Height }}
    {{ $resized := $img.Resize (printf "%dx%d q100 lanczos" $width $height) }}
    {{ $newName := $opts.newName | default (printf "%s%s" (path.BaseName $img) (path.Ext $img)) }}
    {{ $fingerprinted := $resized | resources.Copy $newName | fingerprint }}
    {{ $image = dict
            "url" $fingerprinted.RelPermalink
            "width" $width
            "height" $height
    }}
{{ else if fileExists $src }}
    {{ $image = dict
            "url" $src
            "width" $maxWidth
            "height" $maxHeight
    }}
{{ end }}

{{ return $image }}
