# Default ignored files
.idea/shelf/
.idea/workspace.xml
# Editor-based HTTP Client requests
.idea/httpRequests/
# Datasource local storage ignored files
.idea/dataSources/
.idea/dataSources.local.xml

themes/muxel/node_modules
themes/muxel/.idea
.idea
themes/muxel/docs
resources
public
.hugo_build.lock