{{ $menuList := slice "About" "Resume" "Portfolio" "Services" "Contact" }}
<div class="container">
    <nav>
        <a href="#{{ "home" }}">
            {{ $width := 44 }}
            {{ $height := 44 }}
            {{ $alt := .Site.Title }}
            <div class="logo">
                {{ with .Site.Params.config.logo }}
                    {{ $logo := partial "functions/resolve-image.html" (dict
                            "img" . "width" $width "height" $height) }}
                    <img src="{{ $logo.url }}" width="{{ $logo.width }}" height="{{ $logo.height }}" alt="{{ $alt }}"><span>{{ upper site.Title }}</span>
                {{ else }}
                    <span>MUXEL</span><span>THEME</span>
                {{ end }}
            </div>
        </a>
        <ul class="nav-links">
            {{ range .Site.Menus.main }}
                {{ if in $menuList (title .Name) }}
                    {{ $name := upper .Name }}
                    {{ $url := lower (.URL | default .Name) }}
                    <li><a href="#{{ $url }}">{{ $name }}</a></li>
                {{ end }}
            {{ end }}
        </ul>
        <div class="hamburger">
            <i class="fa-solid fa-xl fa-bars-staggered"></i>
        </div>
    </nav>
</div>
