<meta name="robots" content="index, follow">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">

<meta name="msapplication-TileColor" content="#ECEFF4">
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#2E3440">
<meta name="theme-color" media="(prefers-color-scheme: light)" content="#ECEFF4">

<link rel="icon" type="image/png" sizes="32x32" href="{{- "img/icons/favicon-32x32.png" | relURL -}}">
<link rel="apple-touch-icon" sizes="180x180" href="{{- "img/icons/apple-icon-180x180.png" | relURL -}}">
<link rel="shortcut icon" type="image/x-icon" sizes="16x16" href="{{- "img/icons/favicon.ico" | relURL -}}">
<link rel="icon" type="image/png" sizes="192x192" href="{{- "img/icons/android-icon-192x192.png" | relURL -}}">
<meta name="msapplication-TileImage" content="{{- "img/icons/ms-icon-144x144.png" | relURL -}}">
