<!-- Open Graph Meta Tags -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{- .Site.BaseURL -}}">
<meta property="og:title" content="{{- .Scratch.Get "SiteTitle" -}}">
<meta property="og:site_name" content="{{- .Scratch.Get "SiteTitle" -}}">
<meta property="og:locale" content="{{- replace .Site.LanguageCode "-" "_" -}}">
<meta property="og:description" content="{{- .Site.Params.SiteDescription -}}">
<meta name="og:image" content="{{- "img/icons/opengraph.webp" | relURL -}}">
