@use '../base/global' as *;
@use '../base/mixins' as *;

.hero-btns {
    margin-top: 1.75rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    @include breakpoint(medium) {
        justify-content: center;
    }
}
.btn {
    display: inline-block;
    padding: .75rem 1.875rem;
    border-radius: 1.875rem;
    font-weight: 700;
    letter-spacing: .0625rem;
    transition: all .3s ease;
    cursor: pointer;
    font-family: $font-jura;
    i {
        color: var(--eo-white);
    }
    &:hover {
        transform: translateY(-.187rem);
        box-shadow: 0 .3rem .9rem var(--shadow-color-secondary);
        i {
            color: var(--accent-color-primary);
        }
    }
}
.btn-primary {
    color: var(--eo-white);
    background: var(--accent-color-primary);
    &:hover {
        background: transparent;
        color: var(--accent-color-primary);
        border: .125rem solid var(--accent-color-primary);
    }
}
.btn-secondary {
    background: transparent;
    border: .125rem solid var(--accent-color-primary);
    color: var(--accent-color-primary);
    &:hover {
        color: var(--eo-white);
        background: var(--accent-color-primary);
    }
}

.resume-tabs,
.testimonial-nav,
.portfolio-filter {
    display: flex;
    justify-content: center;
}
.resume-tabs {
    margin-bottom: 2rem;
    @include breakpoint(25rem) {
        font-size: 90%;
        flex-direction: column;
        align-items: flex-start;
    }
}
.portfolio-filter {
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.tab-btn,
.filter-btn {
    transition: all .3s ease;
    color: var(--fg-color-primary);
    background: var(--bg-color-secondary);
}

.tab-btn {
    font-weight: 700;
    padding: .625rem;
    border-bottom: .25rem solid transparent;
    &.active {
        color: var(--accent-color-primary);
        border-bottom: .25rem solid var(--accent-color-primary);
        box-shadow: 0 .5rem 1.5rem var(--shadow-color-secondary);
    }
    &:hover {
    }
}
.filter-btn {
    margin: .25rem;
    padding: .625rem .75rem;
    border-radius: .625rem;
    border: .125rem solid var(--eo-white);
    box-shadow: 0 .125rem .5rem var(--shadow-color-secondary);
    &.active, &:hover {
        color: var(--eo-white);
        background: var(--accent-color-primary);
        border-color: var(--accent-color-primary);
    }
}
.testimonial-nav {
    gap: 1rem;
    margin-top: .5rem;
}
.prev-btn,
.next-btn {
    border-radius: 50%;
    margin: 0 .625rem;
    i {
        padding: .75rem .9rem;
        border-radius: 50%;
        border: .0625rem solid var(--accent-color-primary);
        &:hover {
            background: var(--accent-color-primary);
            color: var(--eo-white);
            transition: color .3s ease-in-out, background .3s ease-in-out;
        }
    }
}
