@use '../base/animations';
@use '../base/global' as *;
@use '../base/mixins' as *;

.contact-container {
    display: flex;
    gap: 2rem;
    @include breakpoint(60rem) {
        flex-direction: column;
    }
}

.contact-form {
    flex: 2;
    padding: 2.5rem;
    border-radius: .625rem;
    background: var(--bg-color-secondary);
    box-shadow: 0 .3rem .9rem var(--shadow-color-secondary);
    form {
        display: flex;
        flex-direction: column;
        button {
            display: block;
            margin: 1.25rem auto 0;
            @include breakpoint(22rem) {
                font-size: 80%;
            }
        }
    }
}

.form-group {
    display: block;
    margin: 1.25rem 0 .25rem;
    label {
        display: block;
        font-weight: 500;
        margin-bottom: .25rem;
        span {
            color: #990000;
            font-weight: 700;
            padding: 0 .25rem;
        }
    }
    select {
        padding: .75rem;
        border-radius: .5rem;
        border: .0625rem solid var(--border-color-primary);
        option {
            color: var(--fg-color-primary);
            background: var(--bg-color-primary);
        }
    }
}

.form-control {
    width: 100%;
    padding: .75rem .9rem;
    border: .0625rem solid var(--eo-sigil);
    border-radius: .3rem;
    font-family: $font-plex;
    font-size: 1rem;
    transition: all .3s ease;
    &:focus {
        outline: none;
        box-shadow: 0 0 0 .187rem #4d415333;
    }
}
.form-response {
    display: none;
    margin-top: 1rem;
    padding: 1rem 1.25rem;
    border-radius: .5rem;
    font-weight: 500;
    transition: all .3s ease;
    box-shadow: 0 .125rem .5rem var(--shadow-color-secondary);
    transform: translateY(5px);
    &.success {
        display: block;
        background: #e6f9f0;
        color: var(--accent-color-primary);
        border-left: .25rem solid #1bc47d;
        transform: translateY(0);
    }
    &.failed {
        display: block;
        background: #fdecea;
        color: #8a1f11;
        border-left: .25rem solid #f03e3e;
        transform: translateY(0);
    }
}

.contact-info {
    flex: 1;
    background: var(--eo-powder);
    color: var(--fg-color-primary);
    padding: 1.25rem;
    border-radius: .625rem;
    box-shadow: 0 .3rem .9rem var(--shadow-color-secondary);
    h3 {
        position: relative;
        margin: 1rem 0 1.875rem;
        padding-bottom: .937rem;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 3.75rem;
            height: .187rem;
            background: var(--accent-color-primary);
        }
    }
}
.contact-details {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    p {
        margin: .0625rem .0625rem 1.5rem;
    }
}
.contact-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
    i {
        margin-right: .5rem;
        margin-top: .75rem;
        &:hover {
            color: var(--eo-candy);
            transition: color .2s ease;
            animation: pulse 1s infinite;
        }
    }
}
.contact-item-info {
    text-align: left;
    h4 {
        font-weight: 700;
        margin-bottom: .25rem;
    }
    a, p {
        text-wrap: wrap;
        white-space: wrap;
        cursor: pointer;
        padding-right: .25rem;
        color: var(--fg-color-secondary);
        &:hover {
            text-decoration: none;
            color: var(--hover-color-primary);
        }
    }
}

.socials {
    margin: 1rem 0;
    h5 {
        font-weight: 600;
        padding-bottom: 1rem;
    }
}
.social-links {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        transition: all .3s ease;
        color: var(--accent-color-primary);
        background: var(--shadow-color-secondary);
        &:hover {
            text-decoration: none;
            background: var(--hover-color-tertiary);
            animation: pulse 1s ease-in-out 2;
            animation-fill-mode: forwards;
        }
    }
}
