@use '../base/global' as *;
@use '../base/mixins' as *;

footer {
    padding: 1.25rem 0;
    color: var(--fg-color-primary);
    background: var(--footer-bg-color);
    box-shadow: 0 -.125rem .625rem var(--shadow-color-secondary);
    @include font-size(.87rem, 1.1rem);
}
.footer-content {
    text-align: center;
}

.copyright-info {
    font-size: 80%;
    padding-top: 1rem;
}

.license-info {
    font-size: 70%;
    margin-top:.25rem;
    a {
        font-weight: 700;
        color: var(--accent-color-primary);
        &:hover {
            color: var(--hover-color-tertiary);
        }
    }
}
