@use '../base/global' as *;
@use '../base/mixins' as *;

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: all .3s ease;
    backdrop-filter: blur(.625rem);
    background: var(--nav-bg-color);
    box-shadow: 0 .125rem .625rem var(--shadow-color-primary);
}
nav {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    gap: .2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto .5rem;
    max-height: 2.75rem;
    img {
        flex: 1;
        max-width: 2.75rem;
        max-height: 2.75rem;
    }
    span {
        flex: 1;
        font-weight: 700;
        font-family: $font-megrim;
        color: var(--fg-color-secondary);
        @include font-size(1.3rem, 1.7rem);
        &:last-child {
            flex: 2;
            font-weight: 400;
            color: var(--accent-color-primary);
        }
    }
}

.nav-links {
    display: flex;
    a {
        font-weight: 500;
        position: relative;
        padding: .313rem 0;
        color: var(--fg-color-primary);
        &:hover {
            text-decoration: none;
        }
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: .125rem;
            transition: all .3s ease;
            background: var(--accent-color-primary);
        }
        &:hover:after, &.active:after {
            width: 100%;
        }
    }
    @include breakpoint(large) {
        position: fixed;
        top: 4.4rem;
        right: -100%;
        flex-direction: column;
        background: var(--bg-color-primary);
        width: 100%;
        text-align: center;
        box-shadow: 0 .625rem .875rem var(--shadow-color-primary);
        padding: 1.25rem 0;
        transition: all 0.3s ease;
        &.active {
            right: 0;
        }
        li {
            margin: .875rem 0;
        }
    }
}
.hamburger {
    display: none;
    cursor: pointer;
    @include breakpoint(large) {
        display: block;
    }
}