@use 'eon' as eon;

@include eon.eon-colors();

:root {
    --bg-color-primary: var(--eo-powder);
    --bg-color-secondary: var(--eo-white);
    --bg-color-tertiary: var(--eo-smoke);
    --fg-color-primary: var(--eo-pitch);
    --fg-color-secondary: var(--eo-night);
    --accent-color-primary: var(--eo-teal);
    --accent-color-secondary: var(--eo-coal);
    --border-color-primary: var(--eo-graphite);
    --border-color-secondary: var(--eo-storm);
    --hover-color-primary: var(--eo-terra);
    --hover-color-secondary: var(--eo-coral);
    --hover-color-tertiary: var(--eo-peach);

    --nav-bg-color: #faf9f633;
    --footer-bg-color: #faf9f670;
    --shadow-color-primary: #faf9f633;
    --shadow-color-secondary: #09090933;
    --shadow-color-tertiary: #2a9d8f33;
}

$min-vw: 20rem;
$max-vw: 84rem;
$font-jura: 'Jura', sans-serif;                     // h4, h5, h6, buttons
$font-megrim: 'Megrim', system-ui;                  // logo
$font-plex: 'IBM Plex Sans', sans-serif;            // body, footer
$font-space: 'Space Grotesk', sans-serif;           // h2, h3
$font-orbitron: 'Orbitron', system-ui, sans-serif;  // h1
