<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests;">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover">

    <title>{{- .Scratch.Get "SiteTitle" -}}</title>
    <base href="{{- .Site.BaseURL -}}" target="_blank">

    {{- with .Site.Params -}}
        <meta name="author" content="@{{- .FirstName -}}">
        <meta name="description" content="{{- .SiteDescription -}}">
        <meta name="keywords" content="{{- delimit .Skills ", "  -}}">
    {{- end -}}

    {{ partial "meta/schema.html" . }}
    {{ partial "meta/opengraph.html" . }}
    {{ partial "meta/twittercard.html" . }}
    {{ partial "meta/favicons.html" . }}
    {{ partialCached "meta/analytics.html" . }}
    {{ partialCached "meta/css.html" . }}
</head>
