{{- with .Site.Params -}}
<header itemscope itemtype="https://schema.org/Person">
    {{- $avatar := resources.Get "img/avatar.png" -}}
    <img itemprop="image" src="{{- $avatar.RelPermalink -}}" alt="Avatar of {{- .FirstName -}}" class="avatar" loading="lazy">
    <h1>
        {{- $logo := resources.Get "img/brand.png" -}}
        <img itemprop="logo" src="{{- $logo.RelPermalink -}}" alt="{{- .FirstName -}} brand logo" class="logo" loading="lazy">
        <span itemprop="name" class="name">{{ .FirstName }} <b>{{ .LastName }}</b></span>
    </h1>
</header>
{{- end -}}
