<!DOCTYPE html>
{{- $lang := site.Language.LanguageCode | default `en_US` }}
{{- $dir := site.Language.LanguageDirection | default `ltr` }}
<html lang="{{ $lang }}" dir="{{ $dir }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover">
        {{ $name := .Site.Data.summary.bio.fullName }}
        {{ $sub := index .Site.Data.summary.bio.taglines 0 }}
        <title>{{ printf "%s | %s" $name ($sub | default .Site.Title) }}</title>

        {{ partial "head.html" . }}
    </head>
    <body>
        <header>
            {{ partial "header.html" . }}
        </header>
        <main>
            {{ block "main" . }}{{ end }}
        </main>
        <footer>
            {{ partial "footer.html" . }}
        </footer>
        {{ partialCached "head/js.html" . }}
    </body>
</html>
