<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} <\\> {{ .Site.Params.author }}</title>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Person",
            "name": [ {{ range .Site.Params.names }} "{{ . }}", {{ end }}],
            "url": "{{ .Site.BaseURL }}",
            "image": "{{ .Site.BaseURL }}//img/me.png",
            "sameAs": [ {{ range .Site.Params.socials }}
                "{{ .url }}", {{ end }}
            ],
            "jobTitle": "{{ .Site.Params.occupation }}",
            "worksFor": {
                "@type": "EducationalOrganization",
                "name": [
                    {{ delimit .Site.Params.organization ", "  }}
                ]
            },
            "knowsAbout": [ 
                {{ range .Site.Params.skills }} "{{ . }}", {{ end }} 
            ],
            "description": "{{ .Site.Params.description }}",
            "email": "mailto:{{ .Site.Params.email }}"
        }
    </script>
    <base href="{{ .Site.BaseURL }}">
    <meta name="author" content="{{ .Site.Params.author }}">
    <link rel="canonical" href="{{ .Permalink }}">
    <meta name="description" content="{{ .Site.Params.description }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ .Site.BaseURL }}/img/my-logo-blue-black.png?">
    <meta name="robots" content="index, follow">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Open Graph Meta Tags -->
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:image" content="{{ .Site.BaseURL }}/img/profile.jpg?">
    <meta property="og:description" content="{{ .Site.Params.description }}">

    <meta name="keywords" content="{{ delimit .Site.Params.skills ", "  }}">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/styles.css">

</head>
<body>
    <header>
        <img src="{{ .Site.BaseURL }}/img/me.png" alt="Avatar" class="profile">
        <h1>
            <img src="{{ .Site.BaseURL }}/img/my-logo-blue-black.png" alt="brand" class="logo">
            <span class="name"> {{ .Site.Params.firstName }} <b>{{ .Site.Params.lastName }}</b></span>
        </h1>
    </header>

    <main>
        <section class="summary">
            {{ with .Site.Params.PortfolioSummary }}
            <h2>{{ .greetings }}</h2>
                {{ range .summary }}
                    <p>{{ . | safeHTML }}</p>
                {{ end }}
            {{ end }}
            <div>
                <a href="{{ .Site.BaseURL }}/resources/CV___Muhammed.pdf" class="resume-button" target="_blank">
                    <b>See my resume</b>
                    <svg width="21.24" height="21.24" viewBox="auto">
                        <use xlink:href="{{ .Site.BaseURL }}/icon/sprite.svg#readme" alt="my resume"></use>
                    </svg>
                </a>
            </div>
            <p>Contact me at <a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a></p>
        </section>
    </main>

    <footer>
        <div>
            <p>Follow my socials</p>
            {{ range .Site.Params.socials }}
            <a href="{{ .url }}" target="_blank"><svg width="21.24" height="21.24" viewBox="auto"><use xlink:href="{{ .Site.BaseURL }}/icon/sprite.svg#{{ .icon }}" alt="{{ .name }}"></use></svg></a> {{ end }}
        </div>
    </footer>
</body>
</html>
