{{- $reqParams := slice "FirstName" "LastName" "Skills" "JobTitle" "SiteDescription" }}
{{- range $param := $reqParams }}
    {{ $idx := len (index $.Site.Params $param | default "") }}
    {{- if lt $idx 1 }}
        {{- errorf "\n\n\t ERROR: Missing parameter '%s' in config.toml\n\n" . }}
    {{- end }}
{{ end }}


{{- $requiredFiles := slice "static/img/avatar.png" "static/img/brand.png" -}}
{{- range $requiredFiles -}}
    {{- if not (os.FileExists .) -}}
        {{- errorf "\n\n\t ERROR: Missing file: '%s'\n\t Fix: Add it to the 'static/img' directory\n\n" . -}}
    {{- end -}}
{{- end -}}

{{- $nonce := printf "%s" (sha256 (now.UnixNano)) -}}
{{- .Scratch.Set "nonce" $nonce -}}

{{- $SiteTitle := printf "%s | %s" .Site.Params.FirstName .Site.Params.JobTitle -}}
{{ if .Site.Params.defaultTitle }} {{- $SiteTitle = .Site.Title -}} {{ end }}
{{- .Scratch.Set "SiteTitle" $SiteTitle -}}

<!DOCTYPE html>
<html lang="{{ replace .Site.LanguageCode "-" "_" }}">
        {{- partial "head.html" . }}
    <body>
        {{- partial "header.html" . -}}
        <main>
            {{- partial "profile.html" . -}}
            {{- partial "rssfeed.html" . -}}
        </main>
        {{- partial "footer.html" . -}}
    </body>
</html>
