{{ $about := . }}
<div class="container">
    <h2 class="section-title">{{ .sectionTitle | default "About Me" }}</h2>
    <div class="about-content">
        <div class="about-img">
            {{ $avatar := "" }}
            {{ $width := 414 }}
            {{ $height := 414 }}
            {{ $alt := site.Data.summary.bio.fullName | default "John Doe" }}
            {{ with $about.avatar }}
                {{ $img := partial "functions/resolve-image.html" (dict
                        "img" . "width" $width "height" $height) }}
                {{ $avatar = $img.url }}
                {{ $width = $img.width }}
                {{ $height = $img.height }}
            {{ else }}
                {{ $name := $alt | replaceRE "[^\\w\\s]+" "" | replaceRE "\\s+" "-" | lower }}
                {{ $avatar = printf "https://ui-avatars.com/api?name=%s&size=414&bold=true&background=random" $name }}
            {{ end }}
            <img src="{{ $avatar }}" width="{{ $width }}" height="{{ $height }}" alt="{{ $alt }} Professional Avatar">
        </div>
        <div class="about-text">
            {{ with $about.tagline }}
                <h3>{{ . }}</h3>
            {{ end }}
            {{ range $about.summary }}
                <p>{{ . | markdownify }}</p>
            {{ end }}
        </div>
    </div>
</div>
