<div class="container">
    {{ with .services }}
        <h2 class="section-title">{{ .subSectionTitle | default "What I Offer" }}</h2>
        <div class="services-grid">
            {{ range first 6 .entry }}
                <div class="service-card">
                    <h3 class="service-heading">
                        {{ $icon := .icon | default ":service_dog:" }}
                        {{ if (and (hasPrefix .icon ":") (hasSuffix .icon ":")) }}
                            {{ $icon := .icon | default "bookmark" }}
                            <span role="img" aria-label="{{ .title }} icon">{{ transform.Emojify $icon }}</span>
                        {{ else }}
                            <span class="fa-solid fa-{{ .icon }}" role="img" aria-label="{{ .title }} icon"></span>
                        {{ end }}
                        <span class="service-name">{{ title .title }}</span>
                    </h3>
                    <p class="service-summary">
                        {{ .summary }}
                    </p>
                    <div class="service-bar"></div>
                </div>
            {{ end }}
        </div>
    {{ end }}

    {{ with .testimonials }}
        <div class="testimonials">
            <h2 class="section-title">{{ .subSectionTitle | default "Client Testimonials" }}</h2>
            <div class="testimonial-slider">
                {{ range $idx, $item := .entry }}
                    {{ $isActive := cond (eq $idx 0) "active" "" }}
                    <div class="testimonial {{ $isActive }}">
                        <div class="testimonial-content">
                            {{ with $item.testimonial }}
                                <p>
                                    <i class="fa-solid fa-quote-left"></i>{{ . }}<i class="fa-solid fa-quote-right"></i>
                                </p>
                            {{ end }}
                        </div>
                        <div class="testimonial-author">
                            {{ $avatar := "" }}
                            {{ $width := 48 }}
                            {{ $height := 48 }}
                            <div class="author-img">
                                {{ with $item.avatar }}
                                    {{ $img := partial "functions/resolve-image.html" (dict
                                            "img" . "width" $width "height" $height) }}
                                    {{ $avatar = $img.url }}
                                    {{ $width = $img.width }}
                                    {{ $height = $img.height }}
                                {{ else }}
                                    {{ $name := $item.name | replaceRE "[^\\w\\s]+" "" | replaceRE "\\s+" "+" | lower }}
                                    {{ $avatar = printf "https://ui-avatars.com/api?name=%s&size=100&rounded=true&bold=true&background=random" $name }}
                                {{ end }}
                                <img src="{{ $avatar }}" width="{{ $width }}" height="{{ $height }}" alt="{{ $item.name }}" />
                            </div>
                            <div class="author-info">
                                {{ with $item.name }}
                                    <h4>{{ . }}</h4>
                                {{ end }}
                                {{ with $item.title }}
                                    <p>{{ . }}</p>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                {{ end }}
            </div>
            <div class="testimonial-nav">
                <button class="prev-btn">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
                <button class="next-btn">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
            </div>
        </div>
    {{ end }}
</div>
